@page "/"

@inject HttpClientHandler _client
@inject NavigationManager _navigationManager

<PageTitle>Home</PageTitle>

@foreach (var (id,name, startDate, endDate) in projects)
{
    <div onclick="@(() => HandleNavigateToProject(id))" class="my-4 cursor-pointer" >
        <p class="text-blue-400 block">@name</p>
        <p>
            <span class="text-orange-700">Start date: </span>
            <span class="text-slate-700">@startDate.ToShortDateString()</span>
        </p>
        <p>
            <span class="text-orange-700">End date: </span>
            <span class="text-slate-700">@endDate.ToShortDateString()</span>
        </p>
    </div>
}

@code {

    private IEnumerable<IProject> projects = Enumerable.Empty<Project>();

    protected override async Task OnInitializedAsync()
    {
        projects = await _client.GetAllAsync<Project[]>() ?? Enumerable.Empty<Project>();
    }

    private void HandleNavigateToProject(Guid id)
    {
        _navigationManager.NavigateTo($"projects/{id.ToString()}");
    }

}