<nav>
    @foreach (var (name, link) in NavLinks)
    {
        <NavLink Match="NavLinkMatch.All" ActiveClass="text-blue-400 font-weight-400" href="@link" class="m-2">@name</NavLink>
    }
</nav>

@code {

    private readonly IEnumerable<(string Name, string Link)> NavLinks = new (string Name, string Link)[]
    {
        new("Home", "/"),
        new("Counter", "/counter")
    };

}