@page "/"
@inject HttpClientHandler _client

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<li>
    @foreach (var project in projects)
    {
        <ol>
            <span>@project.Id.ToString()</span><span>@project.Name</span>
        </ol>
    }
</li>

@code {

    private IEnumerable<IProject> projects = Enumerable.Empty<Project>();

    protected override async Task OnInitializedAsync()
    {
        projects = await _client.GetAllAsync<Project[]>("/api/projects") ?? Enumerable.Empty<Project>();
    }

}